<!DOCTYPE html>
<html>

<div mat-dialog-content>


    <body>
        <div>
            <svg class="first" width="30" height="30">
                <rect x="0" y="0" width="30" height="30" fill="lime"></rect>
            </svg>

            <i class="material-icons">
                swap_horiz
            </i>
            <svg class="second" width="30" height="30">
                <rect x="0" y="0" width="25" height="25" fill="yellow"></rect>
            </svg>
        </div>
        <svg class="top-ten" width="125" height="50">
            <rect x="0" y="0" width="25" height="25" fill="lime"></rect>
            <rect x="25" y="0" width="25" height="25" fill="red"></rect>
            <rect x="50" y="0" width="25" height="25" fill="blue"></rect>
            <rect x="75" y="0" width="25" height="25" fill="yellow"></rect>
            <rect x="100" y="0" width="25" height="25" fill="puple"></rect>
            <rect x="0" y="25" width="25" height="25" fill="pink"></rect>
            <rect x="25" y="25" width="25" height="25" fill="black"></rect>
            <rect x="50" y="25" width="25" height="25" fill="lime"></rect>
            <rect x="75" y="25" width="25" height="25" fill="orange"></rect>
            <rect x="100" y="25" width="25" height="25" fill="brown"></rect>
        </svg>

    </body>
</div>
<div mat-dialog-actions >
    <button mat-button (click)="close()">fermer</button>
</div>

</html>