.lateral-bar-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #eee;
}

.mat-drawer {
    background-color: blueviolet;
    color: rgba(0, 0, 0, .87);
}

.mat-icon {
    background-repeat: no-repeat;
    display: inline-block;
    fill: currentColor;
    height: 50px;
    width: 50px;
    font-size: 30px
}
