.lateral-bar-container {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background: #eee;
}

.mat-drawer {
    background-color: blueviolet;
    color: rgba(0, 0, 0, .87);
}
