<app-welcome-modal></app-welcome-modal>

<mat-sidenav-container class="lateral-bar-container">

  <mat-sidenav mode="side" opened>

    <!-- the following list contains all the buttons for the side bar -->
    <mat-list>

      <mat-list-item>
        <button mat-icon-button (click)="sidenav.toggle()" matTooltip="Tools" matTooltipPosition="left"><mat-icon>create</mat-icon></button>
      </mat-list-item>

      <!-- this button open the createDrawingDialog -->
      <mat-list-item>
        <button mat-icon-button matTooltip="New" matTooltipPosition="left" (click)="openCreateDrawingDialog()"><mat-icon>add</mat-icon></button>
      </mat-list-item>

      <!-- this button opens the settings -->
      <mat-list-item>
        <button mat-icon-button mat-button matTooltip="User Guide" matTooltipPosition="left"><mat-icon>contact_support</mat-icon></button>
      </mat-list-item>
    </mat-list>

  </mat-sidenav>


  <!-- the content is simply the work zone containing the drawing -->

    <mat-sidenav-content [ngStyle]="setBackGroundColor()">
      <mat-sidenav mode="side" #sidenav>
        Attribute panel
      </mat-sidenav>
      <app-work-zone #workZoneComponent></app-work-zone>
    </mat-sidenav-content>

</mat-sidenav-container>
