<mat-list>

  <!-- Pencil button -->
  <mat-list-item>
    <button mat-icon-button
            (click)="toggleAttributesAndSetTool(Tools.Pencil)"
            matTooltip="Crayon"
            matTooltipPosition="left"
            mat-button>
      <mat-icon>create</mat-icon></button>
  </mat-list-item>

  <!-- Brush button -->
  <mat-list-item>
    <button mat-icon-button
            (click)="toggleAttributesAndSetTool(Tools.Brush)"
            matTooltip="Pinceau"
            matTooltipPosition="left">
      <mat-icon>brush</mat-icon></button>
  </mat-list-item>

  <!-- Rectangle button -->
  <mat-list-item>
    <button mat-icon-button
            (click)="toggleAttributesAndSetTool(Tools.Rectangle)"
            matTooltip="Rectangle"
            matTooltipPosition="left">
      <mat-icon svgIcon="rectangle"></mat-icon></button>
  </mat-list-item>

  <!-- bottom elements -->
  <div [ngClass]="appropriateClass">

    <!-- New drawing button -->
    <mat-list-item>
      <button mat-icon-button
              matTooltip="Nouveau Dessin"
              matTooltipPosition="left"
              (click)="openCreateDrawingDialog()">
        <mat-icon>add</mat-icon></button>
    </mat-list-item>

    <!-- Help button -->
    <mat-list-item>
      <button mat-icon-button
              matTooltip="Guide d'utilisation"
              matTooltipPosition="left">
        <mat-icon>contact_support</mat-icon></button>
    </mat-list-item>
  </div>

</mat-list>
