<!-- Pencil Attributes Tool -->
<mat-card-content *ngIf="toolSelector._activeTool == 'pencil'" >
  <mat-label>Epaisseur du crayon en pixels : {{this.pencilGenerator._strokeWidth}}</mat-label>
  <mat-slider [(ngModel)]="this.pencilGenerator._strokeWidth"
              min="1"
              max="50"
              step="0.5"
              value="1.5"
              thumbLabel
              tickInterval="1"></mat-slider>
</mat-card-content>

<!-- Rectangle Attributes Tools -->
<mat-card-content *ngIf="toolSelector._activeTool == 'rectangle'" >
  <mat-label> Epaisseur du rectangle : {{this.rectangleGenerator._strokeWidth}}</mat-label>
  <mat-slider [(ngModel)]="this.rectangleGenerator._strokeWidth"
              min="1"
              max="10"
              step="0.5"
              value="1.5"
              thumbLabel
              tickInterval="1"></mat-slider>
  <mat-form-field>
    <mat-label>Type de tracé</mat-label>
    <mat-select [(ngModel)]="this.rectangleGenerator._plotType">
      <mat-option [value]="plotType.Contour">Contour</mat-option>
      <mat-option [value]="plotType.Full">Plein</mat-option>
      <mat-option [value]="plotType.FullWithContour">Plein avec contour</mat-option>
    </mat-select>
  </mat-form-field>
</mat-card-content>

<!-- Paintbrush Attributes Tool -->
<mat-card-content *ngIf="toolSelector._activeTool == 'brush'" >
  <mat-label>Epaisseur du trait de pinceau en pixels : {{this.brushGenerator._strokeWidth}}</mat-label>
  <mat-slider [(ngModel)]="this.brushGenerator._strokeWidth"
              min="5"
              max="50"
              step="0.5"
              value="1.5"
              thumbLabel
              tickInterval="1">
  </mat-slider>
  <button (click)="setBrushPattern(1)">Texture 1</button>
  <button (click)="setBrushPattern(2)">Texture 2</button>
  <button (click)="setBrushPattern(3)">Texture 3</button>
  <button (click)="setBrushPattern(4)">Texture 4</button>
  <button (click)="setBrushPattern(5)">Texture 5</button>
  <button (click)="setBrushPattern(6)">Texture 6</button>
</mat-card-content>




