<svg id="canvas" [attr.height]="height" [attr.width]="width" [ngStyle]="setBackGroundColor()"
    (mousedown)='onMouseDown($event)' (mousemove)='onMouseMove($event)' (mouseup)='onMouseUp()'
    (click)='onLeftClick($event)' (contextmenu)='onRightClick($event)' (dblclick)='onDoubleClick($event)'
    (mousewheel)='onMouseWheel($event)'>
    <defs id="definitions">
        <!-- Pattern for grid -->
        <pattern id="backgroundGridPattern" patternUnits="userSpaceOnUse" [attr.width]="gridSize"
            [attr.height]="gridSize">
            <line [attr.x1]="0" [attr.y1]="0" [attr.x2]="gridSize" [attr.y2]="0" stroke="black" stroke-width="1" />
            <line [attr.x1]="gridSize" [attr.y1]="0" [attr.x2]="gridSize" [attr.y2]="gridSize" stroke="black"
                stroke-width="1" />
        </pattern>
        <!-- Patterns for brush -->
        <pattern id="brushPattern1" patternUnits="userSpaceOnUse" width="3" height="3">
            <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
            <rect x="0" y="0" width="1" height="1" stroke="black"></rect>
        </pattern>
        <pattern id="brushPattern2" patternUnits="userSpaceOnUse" width="10" height="10">
            <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
            <rect x="0" y="0" width="1" height="1" stroke="black"></rect>
            <rect x="5" y="5" width="1" height="1" stroke="black"></rect>
            <rect x="9" y="9" width="1" height="1" stroke="black"></rect>
            <rect x="0" y="9" width="1" height="1" stroke="black"></rect>
            <rect x="9" y="0" width="1" height="1" stroke="black"></rect>
        </pattern>
        <pattern id="brushPattern3" patternUnits="userSpaceOnUse" width="5" height="5">
            <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
            <polygon points="0 0 3 3 5 0" stroke="black" fill="none" stroke-width="1" />
            <polygon points="0 5 3 3 5 5" stroke="black" fill="none" stroke-width="1" />
        </pattern>
        <pattern id="brushPattern4" patternUnits="userSpaceOnUse" width="10" height="10">
            <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
            <rect x="0" y="3" width="10" height="2" stroke="black"></rect>
            <rect x="3" y="0" width="2" height="10" stroke="black"></rect>
        </pattern>
        <pattern id="brushPattern5" patternUnits="userSpaceOnUse" width="8" height="8">
            <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
            <circle cx="1" cy="4" r="2" stroke="black" fill="white" stroke-width="1"></circle>
            <circle cx="4" cy="1" r="2" stroke="black" fill="white" stroke-width="1"></circle>
            <circle cx="7" cy="4" r="2" stroke="black" fill="white" stroke-width="1"></circle>
            <circle cx="4" cy="7" r="2" stroke="black" fill="white" stroke-width="1"></circle>
        </pattern>
        <pattern id="brushPattern6" patternUnits="userSpaceOnUse" width="10" height="10">
            <rect x="0" y="0" width="100%" height="100%" fill="white"></rect>
            <polygon points="5 0 3 3 0 5 3 7 5 10 7 7 10 5 7 3" stroke="black" fill="white" stroke-width="1" />
            <polygon points="2 0 3 3 0 2" stroke="black" fill="white" stroke-width="1" />
            <polygon points="8 0 7 3 10 2" stroke="black" fill="white" stroke-width="1" />
            <polygon points="0 8 3 7 2 10" stroke="black" fill="white" stroke-width="1" />
            <polygon points="8 10 7 7 10 8" stroke="black" fill="white" stroke-width="1" />
        </pattern>
        <filter id="dropshadow" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
            <feComponentTransfer in="SourceAlpha">
                <feFuncR type="discrete" tableValues="1"/>
                <feFuncG type="discrete" tableValues="0"/>
                <feFuncB type="discrete" tableValues="0"/>
            </feComponentTransfer>
            <feGaussianBlur stdDeviation="2"/>
            <feOffset dx="0" dy="0" result="shadow"/>
            <feComposite in="SourceGraphic" in2="shadow" operator="over"/>
          </filter>
    </defs>
    <rect id="backgroundGrid" x="0" y="0" width="100%" height="100%" fill="url(#backgroundGridPattern)"
        [attr.fill-opacity]="gridService._gridOpacity" visibility='hidden'></rect>
</svg>