<h2 mat-dialog-title>{{dialogTitle}}</h2>

<mat-dialog-content [formGroup]="drawingForm" (ngSubmit)="save()">
  <ul>

    <li>
      <mat-form-field>
        <input matInput
               [ngClass]="value"
               value="{{drawingForm.value.height}}"
               placeholder="Entrez la hauteur"
               formControlName="height">
      </mat-form-field>
      <div *ngIf="!drawingForm.get('height').valid">
        Positive number required
      </div>
    </li>

    <li>
      <mat-form-field>
        <input matInput
               [ngClass]="value"
               value="{{drawingForm.value.width}}"
               placeholder="Entrez la largeur"
               formControlName="width">
      </mat-form-field>
      <div *ngIf="!drawingForm.get('width').valid">
        Positive number required
      </div>
    </li>

    <li>
      <mat-form-field>
        <input matInput
               type="color"
               value="{{drawingForm.value.hexColor}}"
               [ngClass]="value"
               placeholder="Choisissez une couleur de fond">
      </mat-form-field>
    </li>

    <li>
      <mat-form-field>
        <!--<span matPrefix>0x&nbsp;</span>-->
        <input matInput
               value="{{drawingForm.value.hexColor}}"
               [ngClass]="value"
               placeholder="Ou spécifiez une valeur hex"
               formControlName="hexColor">
      </mat-form-field>
    </li>

    {{hexColor}}
  </ul>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button"
          (click)="close()">
    Annuler
  </button>

  <button class="mat-raised-button mat-primary"
          [disabled] ="!(drawingForm.status === 'VALID')"
          (click)="save()">
    Confirmer
  </button>
</mat-dialog-actions>


