
<svg class="button"
     width="30"
     height="30"
     (click)="modalManager.showColorPickerDialog(Color.primaryColor)"
     matTooltip="Couleur Primaire"
     matTooltipPosition="left">
    <rect x="0" y="0" width="30" height="30" [style.fill]="colorService.getPrimaryColor()">
    </rect>
</svg>


<i class="material-icons"
   (click)="colorService.switchMainColors()"
   matTooltip="Inverser les couleurs"
   matTooltipPosition="left">
    invert_colors
</i>

<svg class="button"
     width="30"
     height="30"
     (click)="modalManager.showColorPickerDialog(Color.secondaryColor)"
     matTooltip="Couleur Secondaire"
     matTooltipPosition="left">
    <rect x="0" y="0" width="25" height="25" [style.fill]="colorService.getSecondaryColor()">

    </rect>
</svg>

