<svg [attr.height]="height"
     [attr.width]="width"
     id="canvas"
     color='blue'
     (mousedown)='onMouseDown($event)'
     (mousemove)='onMouseMove($event)'
     (mouseup)='onMouseUp($event)'>
    <defs>
        <pattern id="brushPattern1" patternUnits="userSpaceOnUse" width="3" height="3">
            <rect x="0" y="0" width="1" height="1" stroke="black"></rect>
        </pattern>
        <pattern id="brushPattern2" patternUnits="userSpaceOnUse" width="10" height="10">
            <rect x="0" y="0" width="1" height="1" stroke="red"></rect>
            <rect x="5" y="5" width="1" height="1" stroke="red"></rect>
            <rect x="9" y="9" width="1" height="1" stroke="red"></rect>
            <rect x="0" y="9" width="1" height="1" stroke="red"></rect>
            <rect x="9" y="0" width="1" height="1" stroke="red"></rect>
        </pattern>
        <pattern id="brushPattern3" patternUnits="userSpaceOnUse" width="3" height="3">
            <rect x="0" y="0" width="1" height="1" stroke="black"></rect>
        </pattern>
        <pattern id="brushPattern4" patternUnits="userSpaceOnUse" width="3" height="3">
            <rect x="0" y="0" width="1" height="1" stroke="black"></rect>
        </pattern>
        <pattern id="brushPattern5" patternUnits="userSpaceOnUse" width="3" height="3">
            <rect x="0" y="0" width="1" height="1" stroke="black"></rect>
        </pattern>
    </defs>
</svg>

