<svg [attr.height]="height"
     [attr.width]="width"
     id="canvas"
     color='blue'
     (mousedown)='onMouseDown($event)'
     (mousemove)='onMouseMove($event)'
     (mouseup)='onMouseUp($event)'>
    <defs>
        <pattern id="brushPattern1" patternUnits="userSpaceOnUse" width="3" height="3">
            <rect x="0" y="0" width="1" height="1" stroke="black"></rect>
        </pattern>
        <pattern id="brushPattern2" patternUnits="userSpaceOnUse" width="10" height="10">
            <rect x="0" y="0" width="1" height="1" stroke="red"></rect>
            <rect x="5" y="5" width="1" height="1" stroke="red"></rect>
            <rect x="9" y="9" width="1" height="1" stroke="red"></rect>
            <rect x="0" y="9" width="1" height="1" stroke="red"></rect>
            <rect x="9" y="0" width="1" height="1" stroke="red"></rect>
        </pattern>
        <pattern id="brushPattern3" patternUnits="userSpaceOnUse" width="5" height="5">
            <polygon points="0 0 3 3 5 0" stroke="green" fill="none" stroke-width="1" />
            <polygon points="0 5 3 3 5 5" stroke="green" fill="none" stroke-width="1" />
        </pattern>
        <pattern id="brushPattern4" patternUnits="userSpaceOnUse" width="10" height="10">
            <rect x="0" y="3" width="10" height="2" stroke="black"></rect>
            <rect x="3" y="0" width="2" height="10" stroke="black"></rect>
        </pattern>
        <pattern id="brushPattern5" patternUnits="userSpaceOnUse" width="8" height="8">
            <circle cx="1" cy="4" r="2" stroke="black" fill="transparent" stroke-width="1"></circle>
            <circle cx="4" cy="1" r="2" stroke="black" fill="transparent" stroke-width="1"></circle>
            <circle cx="7" cy="4" r="2" stroke="black" fill="transparent" stroke-width="1"></circle>
            <circle cx="4" cy="7" r="2" stroke="black" fill="transparent" stroke-width="1"></circle>
        </pattern>
        <pattern id="brushPattern6" patternUnits="userSpaceOnUse" width="10" height="10">
            <polygon points="5 0 3 3 0 5 3 7 5 10 7 7 10 5 7 3" stroke="black" fill="black" stroke-width="1" />
            <polygon points="2 0 3 3 0 2" stroke="black" fill="transparent" stroke-width="1" />
            <polygon points="8 0 7 3 10 2" stroke="black" fill="transparent" stroke-width="1" />
            <polygon points="0 8 3 7 2 10" stroke="black" fill="transparent" stroke-width="1" />
            <polygon points="8 10 7 7 10 8" stroke="black" fill="transparent" stroke-width="1" />
        </pattern>
    </defs>
</svg>

