.bottomStick {
  align-content: center;
  position: absolute;
  bottom: 0
}

.bottomRelative {
  position: relative;
  align-content: center;
}

.mat-divider {
  border-top-width: 2px;
}

.color-tool{
  padding-top: 50px;
}

.icon {
  width : 50%;
  height: 50%;
}

.button {
  display:inline-block;
}
.noCommands {
  filter:opacity(50%);  
}

.mat-list-item {
  display: inline;
}
