.bottomStick {
  align-content: center;
  position: relative;
  bottom: 0;
}

.bottomRelative {
  position: relative;
  align-content: center;
}

.mat-divider {
  border-top-width: 2px;
}

.color-tool{
  padding-top: 50px;
  padding-bottom: 50px;
}

.icon {
  width : 50%;
  height: 50%;
}

.button {
  display:inline-block;
}
.noCommands {
  filter:opacity(50%);  
}

.mat-list-item {
  display: inline;
}

.mat-drawer-inner-container {
  overflow-x: hidden; 
  overflow-y: scroll;
}
.mat-drawer-inner-container::-webkit-scrollbar { 
  display: none; 
} 