<!-- Definition of tool menus -->
<mat-menu #pencilToolButton="matMenu">
  <app-abstract-tool-button *ngFor="let pencilToolButtonProperties of pencilToolsButtonsProperties"
    [attributesSideNav]="attributesSideNav" [toolProperties]="pencilToolButtonProperties">
  </app-abstract-tool-button>
</mat-menu>

<mat-menu #shapeToolButton="matMenu">
  <app-abstract-tool-button *ngFor="let shapeToolButtonProperties of shapeToolsButtonsProperties"
    [attributesSideNav]="attributesSideNav" [toolProperties]="shapeToolButtonProperties">
  </app-abstract-tool-button>
</mat-menu>

<mat-menu #clipboardButton="matMenu">
  <app-abstract-clipboard *ngFor="let clipboardButtonsProperties of clipboardButtonsProperties"
    [clipboardProperties]="clipboardButtonsProperties">
  </app-abstract-clipboard>
</mat-menu>

<mat-list>
  <!-- Tools Buttons -->
  <mat-list-item>
    <button mat-icon-button [matMenuTriggerFor]="pencilToolButton">
      <mat-icon>create</mat-icon>
    </button>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item>
    <button mat-icon-button [matMenuTriggerFor]="shapeToolButton">
      <mat-icon svgIcon="rectangle"></mat-icon>
    </button>
  </mat-list-item>

  <mat-divider></mat-divider>

  <mat-list-item>
    <button mat-icon-button [matMenuTriggerFor]="clipboardButton">
      <mat-icon>assignment</mat-icon>
    </button>
  </mat-list-item>

  <mat-divider></mat-divider>
  <br />
  <mat-list-item>
    <div id="undo-redo">
      <button mat-icon-button
              (click)="this.undoRedoService.undo()"
              [disabled]="!this.undoRedoService.canUndo()"
              class="btn" matTooltip="Annuler">
        <mat-icon class="icon" [ngClass]="{'noCommands':!this.undoRedoService.canUndo()}" svgIcon="undo"></mat-icon>
      </button>
      <mat-divider [vertical]="true"></mat-divider>
      <button mat-icon-button
              (click)="this.undoRedoService.redo()"
              [disabled]="!this.undoRedoService.canRedo()"
              class="btn" matTooltip="Refaire">
        <mat-icon class="icon" [ngClass]="{'noCommands':!this.undoRedoService.canRedo()}" svgIcon="redo"></mat-icon>
      </button>
    </div>
  </mat-list-item>
  <br />
  <mat-divider></mat-divider>

  <!-- primary & secondary colors -->
  <div class="color-tool">
    <mat-list-item>
      <app-color-tool-buttons></app-color-tool-buttons>
    </mat-list-item>
  </div>

  <!-- bottom elements -->
  <div [ngClass]="appropriateClass">
    <mat-divider></mat-divider>
    <mat-list-item *ngFor="let dialogButtonProperties of dialogsButtonsProperties">
      <app-abstract-dialog-button [dialogProperties]="dialogButtonProperties">
      </app-abstract-dialog-button>
    </mat-list-item>
  </div>

</mat-list>
