.bottomStick {
  align-content: center;
  position: absolute;
  bottom: 0
}

.bottomRelative {
  position: relative;
  align-content: center;
}

.mat-divider {
  border-top-width: 2px;
}

.color-tool{
  padding-top: 50px;
}