<mat-dialog-content>
    <h1>{{DIALOG_TITLE}}</h1>

    <div class="section-title" *ngIf="!showUserManualSection.get('Barre latérale')">
        <mat-icon (click)="showUserManualSection.set('Barre latérale', true)">chevron_right</mat-icon> Présentation de l'espace de travail
    </div>
    <div class="section-title" *ngIf="showUserManualSection.get('Barre latérale')">
        <mat-icon (click)="showUserManualSection.set('Barre latérale', false)">expand_more</mat-icon> Présentation de l'espace de travail
    </div>
    <div class="section" *ngIf="showUserManualSection.get('Barre latérale')">
        <p>Voici le rôle des différents onglets de la barre d'outils:</p>

        <li><img src= {{PENCIL}} alt ="pencil" width="40" height="40"> Affiche la liste d'outils d'écriture.</li>
        <li> <img src= {{SHAPE}} alt ="pencil" width="40" height="40"> Affiche la liste d'outils d'ajout de formes.</li>
        <li> <img src= {{CLIPBOARD}} alt ="pencil" width="40" height="40"> Affiche les options du presse-papier; copier, coller, couper, supprimer et dupliquer</li>
        <li> <img src= {{UNDO}} alt ="pencil" width="40" height="40"> Cet onglet permet d'annuler la dernière modification de l'espace de travail</li>
        <li> <img src= {{REDO}} alt ="pencil" width="40" height="40"> Cet onglet permet de refaire la dernière modification si le bouton 'annuler' a été utilisé.</li>
        <li><img src= {{COLOR}} alt ="pencil" width="40" height="80"> Ceci représente la couleur primaire et secondaire. Sélectionner une de ces couleurs a comme effet d'ouvrir l'outil de sélection de couleurs. Puis, l'icône en forme de goutte permet l'inversion des couleurs primaires et secondaires. </li>
        <li><img src= {{NEW}} alt ="pencil" width="40" height="40"> Cet onglet permet de modifier les paramètres par défaut de la zone de travail.</li>
        <li> <img src= {{SAVE}} alt ="pencil" width="40" height="40"> Cet onglet permet de sauvegarder un dessin.</li>
        <li> <img src= {{OPEN}} alt ="pencil" width="40" height="40"> Cet onglet permet d'ouvrir un dessin.</li>
    </div>

    <div class="section-title" *ngIf="!showUserManualSection.get('Outils d\'écriture')">
        <mat-icon (click)="showUserManualSection.set('Outils d\'écriture', true)">chevron_right</mat-icon> Outils d'écriture
        
    </div>
    <div class="section-title" *ngIf="showUserManualSection.get('Outils d\'écriture')">
        <mat-icon (click)="showUserManualSection.set('Outils d\'écriture', false)">expand_more</mat-icon> Outils d'écriture
    </div>

    <div *ngIf="showUserManualSection.get('Outils d\'écriture')">
        <p> Description des outils d'écriture </p>
    </div>

    <div class="section-title" *ngIf="!showUserManualSection.get('Outils de formes')">
        <mat-icon (click)="showUserManualSection.set('Outils de formes', true)">chevron_right</mat-icon> Outils de formes
    </div>
    <div class="section-title" *ngIf="showUserManualSection.get('Outils de formes')">
        <mat-icon (click)="showUserManualSection.set('Outils de formes', false)">expand_more</mat-icon> Outils de formes
    </div>
    <div class="section" *ngIf="showUserManualSection.get('Outils de formes')">
        <p> Description des outils de formes </p>
    </div>

  

    <div class="section-title" *ngIf="!showUserManualSection.get('Liste des raccourcis')">
        <mat-icon (click)="showUserManualSection.set('Liste des raccourcis', true)">chevron_right</mat-icon> Liste des
        raccourcis
    </div>
    <div class="section-title" *ngIf="showUserManualSection.get('Liste des raccourcis')">
        <mat-icon (click)="showUserManualSection.set('Liste des raccourcis', false)">expand_more</mat-icon>Liste des
        raccourcis
    </div>

    <div class="section" *ngIf="showUserManualSection.get('Liste des raccourcis')">
        <div class='section-title'>Options de fichier</div>
        <table>
            <tr *ngFor="let shortcut of FILE_SHORTCUTS ">
                <td>{{shortcut.description}}</td>
                <td class="keys">{{shortcut.keys}}</td>
            </tr>
        </table>
        <div class="section-title">Manipulations de sélection</div>
        <table>
            <tr *ngFor="let shortcut of MANIPULATION_SHORTCUTS ">
                <td>{{shortcut.description}}</td>
                <td class="keys">{{shortcut.keys}}</td>
            </tr>
        </table>
        <div class="section-title">Sélection d'outils</div>
        <table>
            <tr *ngFor="let shortcut of TOOL_SHORTCUTS ">
                <td>{{shortcut.description}}</td>
                <td class="keys">{{shortcut.keys}}</td>
            </tr>
        </table>
    </div>


</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button mat-warn" (click)="close()">
        Ok
    </button>
</mat-dialog-actions>