<mat-dialog-content>
    <h1>{{DIALOG_TITLE}}</h1>

    <div class="section-title" *ngIf="!showUserManualSection.get('Barre latérale')">
        <mat-icon (click)="showUserManualSection.set('Barre latérale', true)">chevron_right</mat-icon> Présentation de l'espace de travail
    </div>
    <div class="section-title" *ngIf="showUserManualSection.get('Barre latérale')">
        <mat-icon (click)="showUserManualSection.set('Barre latérale', false)">expand_more</mat-icon> Présentation de l'espace de travail
    </div>
    <div class="section" *ngIf="showUserManualSection.get('Barre latérale')">
        <p>Présentation de l'espace de travail </p>
    </div>

    <div class="section-title" *ngIf="!showUserManualSection.get('Outils d\'écriture')">
        <mat-icon (click)="showUserManualSection.set('Outils d\'écriture', true)">chevron_right</mat-icon> Outils d'écriture
        
    </div>
    <div class="section-title" *ngIf="showUserManualSection.get('Outils d\'écriture')">
        <mat-icon (click)="showUserManualSection.set('Outils d\'écriture', false)">expand_more</mat-icon> Outils d'écriture
    </div>

    <div *ngIf="showUserManualSection.get('Outils d\'écriture')">
        <p> Description des outils d'écriture </p>
    </div>

    <div class="section-title" *ngIf="!showUserManualSection.get('Outils de formes')">
        <mat-icon (click)="showUserManualSection.set('Outils de formes', true)">chevron_right</mat-icon> Outils de formes
    </div>
    <div class="section-title" *ngIf="showUserManualSection.get('Outils de formes')">
        <mat-icon (click)="showUserManualSection.set('Outils de formes', false)">expand_more</mat-icon> Outils de formes
    </div>
    <div class="section" *ngIf="showUserManualSection.get('Outils de formes')">
        <p> Description des outils de formes </p>
    </div>

  

    <div class="section-title" *ngIf="!showUserManualSection.get('Liste des raccourcis')">
        <mat-icon (click)="showUserManualSection.set('Liste des raccourcis', true)">chevron_right</mat-icon> Liste des
        raccourcis
    </div>
    <div class="section-title" *ngIf="showUserManualSection.get('Liste des raccourcis')">
        <mat-icon (click)="showUserManualSection.set('Liste des raccourcis', false)">expand_more</mat-icon>Liste des
        raccourcis
    </div>

    <div class="section" *ngIf="showUserManualSection.get('Liste des raccourcis')">
        <div class='section-title'>Options de fichier</div>
        <table>
            <tr *ngFor="let shortcut of FILE_SHORTCUTS ">
                <td>{{shortcut.description}}</td>
                <td class="keys">{{shortcut.keys}}</td>
            </tr>
        </table>
        <div class="section-title">Manipulations de sélection</div>
        <table>
            <tr *ngFor="let shortcut of MANIPULATION_SHORTCUTS ">
                <td>{{shortcut.description}}</td>
                <td class="keys">{{shortcut.keys}}</td>
            </tr>
        </table>
        <div class="section-title">Sélection d'outils</div>
        <table>
            <tr *ngFor="let shortcut of TOOL_SHORTCUTS ">
                <td>{{shortcut.description}}</td>
                <td class="keys">{{shortcut.keys}}</td>
            </tr>
        </table>
    </div>


</mat-dialog-content>
<mat-dialog-actions>
    <button class="mat-raised-button mat-warn" (click)="close()">
        Ok
    </button>
</mat-dialog-actions>