.loading-box {
    border: 2px solid #50BFE6;
    border-radius: 5px;
    height: 20px;
    width: 60%;
    position: relative;
    top: 15px;
    margin: 10px;
    margin-right:0px;
}
.loading-line {
    background-color: #50BFE6;
    height: 10px;
    position: relative;
    margin: 5px;
    animation-name: move-right, fade-out;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    -webkit-animation-name: move-right, fade-out;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
}

@keyframes move-right {
    0%{
        left: 0%;
    }
    100% {
        left:95%;
    }
}
@-webkit-keyframes move-right {
    0%{
        left: 0%;
    }
    100% {
        left:95%;
    }
}
@keyframes fade-out {
    0%{
        width:20%;
    }
    42%{
        width:20%;
    }
    100%{
        width:0%;
    }
}
@-webkit-keyframes fade-out {
    0%{
        width:20%;
    }
    42%{
        width:20%;
    }
    100%{
        width:0%;
    }
}