.texture-preview {
    float: right;
    vertical-align: middle;
    margin: 10px 0;
}
.texture-title {
    vertical-align: middle;
    display: inline-block;
    height: 100%;
}
.texture-option {
    white-space: nowrap;
}
.mat-form-field {
    padding: 0;
}