<p mat-dialog-title>Ouvrir un dessin</p>
<mat-dialog-content>
  <mat-form-field>
    <mat-chip-list #chipList aria-label="Tag selection">
      <mat-chip *ngFor="let tag of selectedTags"
                [removable]="true" (removed)="removeSelectedTag(tag)">
        {{tag}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip>
      <input placeholder="Filtrer par tag"
             [matChipInputFor]="chipList"
             [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
             [matChipInputAddOnBlur]="true"
             (matChipInputTokenEnd)="addSelectedTag($event)">
    </mat-chip-list>
  </mat-form-field>

  <mat-selection-list class="no-checkbox" *ngFor="let drawing of (drawings|filterByTags:selectedTags); let i = index">
    <mat-list-option>
      <mat-list-item>
        <button mat-icon-button matTooltip="supprimer le dessin" (click)="deleteDrawing(drawing)"><mat-icon>delete</mat-icon></button>
        <img matTooltip="ouvrir le dessin" (click)="openDrawing(drawing)" mat-list-avatar id="miniature{{i}}" class="miniatures"/>
          {{this.setMiniature(i)}}
        <h3 matLine>{{drawing.name}}</h3>
        <p matLine *ngIf="drawing.tags">
          <span>Tags: </span>
            <span *ngFor="let tag of drawing.tags">
              <mat-icon class="icon" svgIcon="add-tag"></mat-icon>{{tag}}
            </span>
        </p>
      </mat-list-item>
    </mat-list-option>
  </mat-selection-list>
  <p *ngIf="(drawings|filterByTags:selectedTags).length === 0 && drawings.length !== 0">
    Aucun dessin trouvé pour les tags sélectionnés
  </p>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button mat-warn"
          (click)="close()">
    Fermer
  </button>
  <div class="divider"></div>
  <button class="mat-raised-button mat-primary"
          (click)="openLocalDrawing()">
    Ouvrir un dessin sauvegardé localement
  </button>
</mat-dialog-actions>
