
<svg class="button" width="30" height="30" (click)="openDialog('primary')" matTooltip="Couleur Primaire" matTooltipPosition="left">
    <rect x="0" y="0" width="30" height="30" [style.fill]="colorModifier.getPrimaryColor()"></rect>
</svg>


<i class="material-icons" (click)="colorModifier.switchMainColors()" matTooltip="Inverser les couleurs" matTooltipPosition="left">
    invert_colors
</i>

<svg class="button" width="30" height="30" (click)="openDialog('secondary')" matTooltip="Couleur Secondaire" matTooltipPosition="left">
    <rect x="0" y="0" width="25" height="25" [style.fill]="colorModifier.getSecondaryColor()"></rect>
</svg>
