<p mat-card-title>Paramètres du Rectangle</p>

<mat-label>
  Épaisseur du rectangle: {{this.rectangleGenerator.strokeWidth}}
</mat-label>
<mat-slider [(ngModel)]="this.rectangleGenerator.strokeWidth"
            min="1"
            max="10"
            step="0.5"
            value="1.5"
            thumbLabel
            tickInterval="1">

</mat-slider>

<mat-form-field>
  <mat-label>
    Type de tracé:
  </mat-label>
  <mat-select [(ngModel)]="this.rectangleGenerator.plotType">
    <mat-option [value]="PlotType.Contour">Contour</mat-option>
    <mat-option [value]="PlotType.Full">Plein</mat-option>
    <mat-option [value]="PlotType.FullWithContour">Plein avec contour</mat-option>
  </mat-select>
</mat-form-field>
