<mat-card-content [ngSwitch]="toolManager._activeTool">

  <!-- Pencil Attributes -->
  <app-pencil-tools *ngSwitchCase="Tools.Pencil"></app-pencil-tools>

   <!-- Pen Attributes -->
   <app-pen-tools *ngSwitchCase="Tools.Pen"></app-pen-tools>

  <!-- Rectangle Attributes -->
  <app-rectangle-tools *ngSwitchCase="Tools.Rectangle"></app-rectangle-tools>

  <!-- Line Attributes -->
  <app-line-tools *ngSwitchCase="Tools.Line"></app-line-tools>

  <!-- Ellipse Attributes -->
  <app-ellipse-tools *ngSwitchCase="Tools.Ellipse"></app-ellipse-tools>

  <!-- Emoji Attributes -->
  <app-emoji-tools *ngSwitchCase="Tools.Stamp"></app-emoji-tools>

  <!-- Eraser Attributes -->
  <app-eraser-tools *ngSwitchCase="Tools.Eraser"></app-eraser-tools>

  <!-- Paintbrush Attributes -->
  <app-brush-tools *ngSwitchCase="Tools.Brush"></app-brush-tools>

  <!-- Polygon Attributes -->
  <app-polygon-tools *ngSwitchCase="Tools.Polygon"></app-polygon-tools>

  <!-- Grid Attributes -->
  <app-grid-tools *ngSwitchCase="Tools.Grid"></app-grid-tools>

  <!-- Color Applicator Attributes -->
  <app-color-applicator-tools *ngSwitchCase="Tools.ColorApplicator"></app-color-applicator-tools>

  <!-- Eyedropper Attributes -->
  <app-eyedropper-tools *ngSwitchCase="Tools.Eyedropper"></app-eyedropper-tools>
</mat-card-content>


