dialog {
    padding: 5;
    border: 0;
    border-radius: 0.6rem;
    box-shadow: 0 0 1em black;
}
dialog::backdrop {
    background-color: rgba(0, 0, 0, 0.4);
  }

  .modal-header {
    text-align: center;
    margin: 0;
    padding-bottom: 0.6em;
    border-bottom: 1px solid;
  }

  .modal-footer {
    border-top: 1px solid;
  }

  button {
    float: right;
    margin-top:5px;
  }

  