<div>
    <p mat-card-title>Paramètres de l'Aérosol</p>
</div>

<div>
    <mat-label>
        Diamètre du jet en pixels: {{this.aerosol._sprayDiameter}}
    </mat-label>
</div>
<div>
    <mat-slider [(ngModel)]="this.aerosol._sprayDiameter" min="5" max="50" step="0.5" thumbLabel tickInterval="1">
    </mat-slider>
</div>

<div>
    <mat-label>
        Vitesse des intervalles de jet de peinture: {{this.aerosol.sprayIntervalSpeed}}
    </mat-label>
</div>
<!-- Min speed is 10, as this is the fastest a setInterval can go -->
<div>
    <mat-slider [(ngModel)]="this.aerosol.sprayIntervalSpeed" min="10" max="150" step="5" thumbLabel tickInterval="1">
    </mat-slider>
</div>