<button mat-menu-item
          matTooltip="{{clipboardProperties.matToolTip}}"
          matTooltipPosition="left"
          (click)="clipboardProperties.clipboardFunction()"
          [disabled]="(!this.selection.hasBoundingRect && clipboardProperties.matToolTip != 'Coller (Ctrl + V)')
                      || (!this.clipboard.hasMemorizedElements() && clipboardProperties.matToolTip == 'Coller (Ctrl + V)')"
          [ngClass]="{'noSelection':(!this.selection.hasBoundingRect && clipboardProperties.matToolTip != 'Coller (Ctrl + V)')
                                    || (!this.clipboard.hasMemorizedElements() && clipboardProperties.matToolTip == 'Coller (Ctrl + V)')}">
  <mat-icon svgIcon="{{clipboardProperties.icon}}" ></mat-icon>
</button>
