<button mat-menu-item
          matTooltip="{{clipboardProperties.matToolTip}}"
          matTooltipPosition="left"
          (click)="clipboardProperties.clipboardFunction()"
          [disabled]="(!this.selection.hasBoundingRect && clipboardProperties.matToolTip != 'Coller')
                      || (!this.clipboard.hasMemorizedElements() && clipboardProperties.matToolTip == 'Coller')"
          [ngClass]="{'noSelection':(!this.selection.hasBoundingRect && clipboardProperties.matToolTip != 'Coller')
                                    || (!this.clipboard.hasMemorizedElements() && clipboardProperties.matToolTip == 'Coller')}">
  <mat-icon svgIcon="{{clipboardProperties.icon}}" ></mat-icon>
</button>
