<app-welcome-modal></app-welcome-modal>
<notifier-container></notifier-container>

<mat-sidenav-container class="lateral-bar-container">

  <!-- Tools Side Nav -->
  <mat-sidenav mode="side" opened id="tools-side-nav" disableClose="true">
    <app-lateral-bar (createDrawing)="onCreateDrawing($event)"
                     [attributesSideNav]="attributesSideNav">
    </app-lateral-bar>
  </mat-sidenav>

  <!-- Attributes Side Nav -->
  <mat-sidenav mode="side" position="end" #attributesSideNav id="attributes-side-nav">
    <ng-template [cdkPortalHost]="toolAttributesComponent"></ng-template>
  </mat-sidenav>

  <!-- the content is simply the work zone containing the drawing -->
    <mat-sidenav-content id="workZone">
      <app-work-zone #workZoneComponent></app-work-zone>
    </mat-sidenav-content>

</mat-sidenav-container>
