
<!-- rgb components entered manually (hex values input) -->
<div class="input-container">
<label> {{RED}}
  <input [(ngModel)]="red">
</label>
</div>

<div class="input-container">
<label> {{GREEN}}
  <input [(ngModel)]="green">
</label>
</div>

<div class="input-container">
  <label> {{BLUE}}
    <input [(ngModel)]="blue">
  </label>
</div>


<button [disabled] ="rgbComponentsForm.invalid"
        (click)="enterColorManually()">
  {{OK}}
</button>
<br />

<div class="warning"
     *ngIf="rgbComponentsForm.invalid && rgbComponentsForm.touched">
  <p>Nombres hexadécimaux de 0 à FF seulement!</p>
</div>

<canvas #colorPaletteCanvas
        class="color-palette"
        width="150"
        height="150"
        (mousedown)="onMouseDown($event)"
        (mousemove)="onMouseMove($event)">
</canvas>

