<!DOCTYPE html>
<html>
<div *ngIf="show" class="overlay">
    <dialog open>
        <h3 class="modal-header">
            {{title}}
        </h3>
        <div class="modal-body">
            <p>{{welcomeMessage}}</p>

        </div>
        <footer class="modal-footer">
            <input type="checkbox" #checkbox (change)="onChange()">
            <span class="noshowtext" (click)="checkbox.click()"> {{doNotShowAgain}} </span>
            <button (click)="closeDialog()">{{close}}</button>
        </footer>
    </dialog>
</div>

</html>