<div><p mat-card-title>Paramètres de l'ellipse</p></div>

<div><mat-label>
  Épaisseur de l'ellipse en pixels: {{this.ellipseGenerator.strokeWidth}}
</mat-label></div>
<div><mat-slider [(ngModel)]="this.ellipseGenerator.strokeWidth"
            min="1"
            max="10"
            step="0.5"
            value="1.5"
            thumbLabel
            tickInterval="1">
</mat-slider></div>

<div><mat-form-field>
  <mat-label>
    Type de tracé:
  </mat-label>
  <mat-select [(ngModel)]="this.ellipseGenerator.plotType">
    <mat-option [value]="PlotType.Contour">Contour</mat-option>
    <mat-option [value]="PlotType.Full">Plein</mat-option>
    <mat-option [value]="PlotType.FullWithContour">Plein avec contour</mat-option>
  </mat-select>
</mat-form-field></div>
